#### Importing the Libraries

In [5]:
#import the warnings.
import warnings
warnings.filterwarnings("ignore")

In [6]:
#import the useful libraries.
import pandas as pd, numpy as np
import matplotlib.pyplot as plt, seaborn as sns
import IPython
%matplotlib inline

In [7]:
import pandas as pd
import statistics

data = pd.read_csv("csv/Inferential Statistics - Powai Flats Rent.csv")

sample = data['Monthly Rent']

μ = statistics.mean(sample) # sample mean
s = statistics.stdev(sample) # sample standard deviation
n = len(sample) # sample size

In [10]:
data.head(10)

   S. No.  Monthly Rent
0       1         44000
1       2         49800
2       3         45400
3       4         40700
4       5         43900
5       6         46400
6       7         31000
7       8         45000
8       9         37300
9      10         42900

In [11]:
print(μ)
print(s)
print(n)

45571
7457.521851178448
200

In [14]:
s*1.65/np.sqrt(n)

870.0886048494972

In [15]:
45571-870.089

44700.911

In [16]:
45571+870.089

46441.089

In [17]:
s*2.58/np.sqrt(n)

1360.5021821283049

In [18]:
45571-1360.5

44210.5

In [19]:
45571+1360.5

46931.5

In [20]:
46500-45571

929

In [21]:
s*1.96/np.sqrt(n)

1033.5597972757666

In [ ]:
μ=200
s=50
n=100